<div class="row">
    <div class="col">
        <h2 class="text-center tabla_resultados">Lista de Servicios</h2>
        <table class=" table footable tabla_resultados table-bordered table-striped" id="tabla_resultados">
            <thead>
                <tr>
                    <th>Servicio</th>
                    <th>Tipo</th>
                    <th>Parametros</th>
                    <th>Nombre de Parametros</th>
                    <th>URL</th>
                </tr>
            </thead>
            <tbody>
                @if (ViewBag.Resultados != null)
                {
                    foreach (var item in ViewBag.Resultados)
                    {
                <tr>
                    <td>@item.nombre</td>
                    <td>@item.tipo</td>
                    <td>@item.parametros</td>
                    <td>@item.nombre_parametro</td>
                    <td>@item.url</td>
                </tr>
                    }

                }
            </tbody>
        </table>
    </div>
</div>
